<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <table summary="" border="0" cellpadding="0" cellspacing="0" width="100%" style="wi border-top:8px solid @Model.Cr_ColorCuerpo;">
        <tbody>
            <tr>
                <td bgcolor="#0d47a1" align="center">

                    <table summary="" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:109%" class="m_-1935784057810302932wrapper">
                        <tbody>
                            <tr>
                                <td align="center" valign="top" style="padding-bottom:10px; padding-top:10px;">
                                    <img src="logo" style="max-width:100px; max-height:100px;" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table summary="" border="0" cellpadding="0" cellspacing="0" width="80%" style="max-width:80%">
                        <tbody>
                            <tr>
                                <td bgcolor="#3F51B5" align="center" style="background:@Model.Cr_ColorTitulo;border-top-left-radius:0px;border-top-right-radius:0px;border-bottom-left-radius:0px;border-bottom-right-radius:0;color:white;font-size:16px;font-family:Helvetica,Arial,sans-serif;font-style:italic;font-weight:200;padding:21px;width:100%">
                                    <span>@titulo</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

            <tr>
                <td bgcolor="#EBEDEE" align="center">

                    <table summary="" style="max-width:80%;width:80%">
                        <tbody>
                            <tr>
                                <td style="padding:0!important">

                                    <table summary="" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:100%;margin-bottom:20px">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <table summary="" bgcolor="#FFFFFF" width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <table summary="" width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="left" style="padding:20px 0 0px 0;font-size:16px;line-height:25px;font-family:Helvetica,Arial,sans-serif;color:#6d7c84;padding-left:40px;padding-right:40px" class="m_-1935784057810302932padding">
                                                                                    @mensaje

                                                                                    <br />
                                                                                    <br />
                                            
                                                                                </td>
																				
																				<tr>
									
                                                                            </tr>

                                                                        </tbody>
                                                                    </table>

                                                                </td>
                                                            </tr>

                                                        </tbody>
                                                    </table>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>