<div class="row margin-0">
    <div class="col s12 m4 l4 center">
        <img src="~/Upload/Sistema/grafica1.png" class="responsive-img" width="200" height="200" />
        <p>
            <input name="group1" type="radio" id="radioPastel" class="radioGrafica" value="1" />
            <label for="radioPastel">Pastel</label>
        </p>
    </div>
    <div class="col s12 m4 l4 center">
        <img src="~/Upload/Sistema/grafica2.png" class="responsive-img" width="200" height="200" />
        <p>
            <input name="group1" type="radio" id="radioBarras" class="radioGrafica" value="2" />
            <label for="radioBarras">Barras</label>
        </p>
    </div>
    <div class="col s12 m4 l4 center">
        <img src="~/Upload/Sistema/grafica3.png" class="responsive-img" width="200" height="200" />
        <p>
            <input name="group1" type="radio" id="radioLineas" class="radioGrafica" value="3" />
            <label for="radioLineas">Líneas</label>
        </p>
    </div>
</div>
