@model CRME.Models.Departamentos

@*<div class="col s12 m4 l4 input-field">*@
    <b class="">Departamentos</b>
    @Html.DropDownListFor(model => model.Dp_Cve_Departamento, new SelectList(ViewBag.Dp_Cve_Departamento, "Value", "Text"), "-- Departamentos --", htmlAttributes: new { @class = "select classic" })
@*</div>*@